MYSQL_ROOT_PASSWORD=change_me_strong_password
DB_USER=todolist_user
DB_PASSWORD=change_me_db_password
JWT_KEY=change_me_min_32_characters_long_random_string_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me_admin_password
JIRA_TOKEN=
